*{
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
}

i{
    padding: 0.5rem;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

body{
    background-color: turquoise;
}
/* ......nav......... */
nav{
    color: white;
    justify-content: space-between;
    
  

}

li{
    padding: 0.5em;
}
main{
    width: 100px;
}
/* ........grid....... */
.grid-col{
    width: 200px;
    
}
.grid-col{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px) ;
}
/* .........footer..... */
footer{
    background-image: url(./images/footer-image.jpg);
    color: white;
    padding: 3rem;
   
  
}

footer p {
    padding: 0.3rem;
    text-align: center;
}

footer  li{
    position: relative;
    left: 45%;
 
}

footer img{
    margin: auto;
    padding: 2rem;
    width: 100px;
    
}